<footer class="Footer">
  <div class="Footer-border">
    ==============================================================================================================================================================
  </div>
  <div class="Footer-inner">
    <div class="Footer-source">
      <a href="https://github.com/VancouverBitdevs/VancouverBitdevs.github.io" target="_blank" rel="noopener nofollow">Source
        available on Github</a>
    </div>
    <div class="Footer-rss">
      <!-- <iframe src="https://anchor.fm/vancouver-bitcoiners/embed/episodes/A-Primer-on-Liquid-BTC-with-Adam-Soltys--Coinos-e1p30rh/a-a8lsnju" height="102px" width="400px" frameborder="0" scrolling="no"></iframe> -->
      <a href="https://anchor.fm/vancouver-bitcoiners/episodes">Podcast</a>
    </div>
  </div>
</footer>
